* {
    box-sizing: border-box;
}

body {
    font-family: "Tektur", sans-serif;
    background: #f4a0ff;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    max-width: 900px;
    margin: auto;
}

form,
section {
    background: #f4e5dc;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.field {
    margin-bottom: 12px;
}

label {
    display: block;
    margin-bottom: 4px;
}

input,
select,
textarea {
    background: #f0c1f6;
    width: 100%;
    padding: 6px;
    border: 1px solid #000000;
}

.invalid {
    border-color: red;
}

.error-text {
    color: red;
    font-size: 14px;
    min-height: 14px;
}

.buttons {
    display: flex;
}

button {
    padding: 6px 12px;
    border: 1px solid #888;
    background: #f4a0ff;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #f0c1f6;
}


.hidden {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #000000;
    padding: 6px;
    text-align: left;
}

th {
    background: #f0c1f6;
}

@media (max-width: 600px) {
    input, textarea {
        padding: 12px;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    form, section {
        margin-bottom: 10px;
    }

    td, th {
        font-size: 13px;
        padding: 4px;
    }
}