* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Tektur", sans-serif;
    background: #f4a0ff;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 28px;
}

.container {
    max-width: 900px;
    width: 100%;
    margin: auto;
}

form,
section {
    background: #f4e5dc;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 8px;
}

.field {
    margin-bottom: 12px;
}

label {
    display: block;
    margin-bottom: 4px;
}

input,
select,
textarea {
    background: #f0c1f6;
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 6px;
    font-size: 16px;
}

.invalid {
    border-color: red;
}

.error-text {
    color: red;
    font-size: 14px;
    min-height: 14px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

button {
    padding: 10px 16px;
    border: 1px solid #888;
    background: #f4a0ff;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 6px;
    font-size: 16px;
}

button:hover {
    background: #f0c1f6;
}

#toggleSort {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

section {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
    font-size: 15px;
}

th {
    background: #f0c1f6;
}

/* ===== Планшети ===== */
@media (max-width: 768px) {

    body {
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    .buttons {
        flex-direction: column;
    }

    button {
        width: 100%;
    }

    th,
    td {
        font-size: 14px;
    }
}

/* ===== Телефони ===== */
@media (max-width: 480px) {

    body {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    input,
    textarea,
    button {
        font-size: 16px;
    }

    th,
    td {
        font-size: 13px;
        padding: 6px;
    }
}